@import 'tailwindcss';

/* Specify new namespaced colors. */
@theme {
    --color-flexoki-black:       oklch(0.17 0.0017 17.32);
    --color-flexoki-paper:       oklch(0.99 0.0161 95.22);
    --color-flexoki-base-50:     oklch(0.95 0.0147 98.29);
    --color-flexoki-base-100:    oklch(0.92 0.0149 98.3);
    --color-flexoki-base-150:    oklch(0.88 0.0137 97.46);
    --color-flexoki-base-200:    oklch(0.85 0.0137 102.05);
    --color-flexoki-base-300:    oklch(0.77 0.0128 96.47);
    --color-flexoki-base-400:    oklch(0.7 0.0103 93.62);
    --color-flexoki-base-500:    oklch(0.62 0.0078 88.67);
    --color-flexoki-base-600:    oklch(0.54 0.0078 97.45);
    --color-flexoki-base-700:    oklch(0.45 0.005 91.5);
    --color-flexoki-base-800:    oklch(0.37 0.0044 67.69);
    --color-flexoki-base-850:    oklch(0.32 0.0038 84.58);
    --color-flexoki-base-900:    oklch(0.27 0.0023 67.73);
    --color-flexoki-base-950:    oklch(0.22 0.0025 67.7);
    --color-flexoki-red-50:      oklch(0.93 0.037 43.08);
    --color-flexoki-red-100:     oklch(0.88 0.0641 36.36);
    --color-flexoki-red-150:     oklch(0.83 0.0912 32.45);
    --color-flexoki-red-200:     oklch(0.78 0.116 30.33);
    --color-flexoki-red-300:     oklch(0.68 0.1523 29.79);
    --color-flexoki-red-400:     oklch(0.6 0.1692 28.38);
    --color-flexoki-red-500:     oklch(0.55 0.1678 27.88);
    --color-flexoki-red-600:     oklch(0.5 0.1648 27.84);
    --color-flexoki-red-700:     oklch(0.45 0.1448 27.78);
    --color-flexoki-red-800:     oklch(0.36 0.1089 26.95);
    --color-flexoki-red-850:     oklch(0.31 0.087 26.31);
    --color-flexoki-red-900:     oklch(0.26 0.0618 25.14);
    --color-flexoki-red-950:     oklch(0.21 0.0318 23.31);
    --color-flexoki-orange-50:   oklch(0.94 0.0422 68.42);
    --color-flexoki-orange-100:  oklch(0.89 0.0678 61.72);
    --color-flexoki-orange-150:  oklch(0.85 0.0915 59.68);
    --color-flexoki-orange-200:  oklch(0.81 0.1131 56.61);
    --color-flexoki-orange-300:  oklch(0.73 0.143 52.66);
    --color-flexoki-orange-400:  oklch(0.66 0.1539 49.3);
    --color-flexoki-orange-500:  oklch(0.61 0.1533 47.37);
    --color-flexoki-orange-600:  oklch(0.57 0.1523 45.02);
    --color-flexoki-orange-700:  oklch(0.5 0.1334 44.79);
    --color-flexoki-orange-800:  oklch(0.4 0.1006 46.5);
    --color-flexoki-orange-850:  oklch(0.34 0.0807 47.52);
    --color-flexoki-orange-900:  oklch(0.28 0.0577 49.41);
    --color-flexoki-orange-950:  oklch(0.23 0.0302 54.27);
    --color-flexoki-yellow-50:   oklch(0.95 0.0535 93.29);
    --color-flexoki-yellow-100:  oklch(0.91 0.0866 93.23);
    --color-flexoki-yellow-150:  oklch(0.88 0.1122 92.85);
    --color-flexoki-yellow-200:  oklch(0.85 0.131 92.28);
    --color-flexoki-yellow-300:  oklch(0.79 0.147 89.37);
    --color-flexoki-yellow-400:  oklch(0.73 0.1462 87.46);
    --color-flexoki-yellow-500:  oklch(0.68 0.1383 86.78);
    --color-flexoki-yellow-600:  oklch(0.63 0.1295 85.81);
    --color-flexoki-yellow-700:  oklch(0.55 0.1119 85.82);
    --color-flexoki-yellow-800:  oklch(0.43 0.0884 86.92);
    --color-flexoki-yellow-850:  oklch(0.37 0.0744 88.38);
    --color-flexoki-yellow-900:  oklch(0.3 0.0583 90.15);
    --color-flexoki-yellow-950:  oklch(0.24 0.0369 94.23);
    --color-flexoki-green-50:    oklch(0.94 0.0408 108.67);
    --color-flexoki-green-100:   oklch(0.9 0.0633 112.51);
    --color-flexoki-green-150:   oklch(0.85 0.0818 114.14);
    --color-flexoki-green-200:   oklch(0.81 0.0985 115.45);
    --color-flexoki-green-300:   oklch(0.72 0.1178 117.2);
    --color-flexoki-green-400:   oklch(0.65 0.1242 119.38);
    --color-flexoki-green-500:   oklch(0.6 0.1321 121.21);
    --color-flexoki-green-600:   oklch(0.56 0.1335 122.92);
    --color-flexoki-green-700:   oklch(0.49 0.1161 123.03);
    --color-flexoki-green-800:   oklch(0.39 0.09 122.07);
    --color-flexoki-green-850:   oklch(0.34 0.0757 121.85);
    --color-flexoki-green-900:   oklch(0.28 0.0564 120.9);
    --color-flexoki-green-950:   oklch(0.23 0.0324 119.34);
    --color-flexoki-cyan-50:     oklch(0.94 0.0273 157.36);
    --color-flexoki-cyan-100:    oklch(0.9 0.0473 171);
    --color-flexoki-cyan-150:    oklch(0.86 0.0652 176.36);
    --color-flexoki-cyan-200:    oklch(0.81 0.0791 179.39);
    --color-flexoki-cyan-300:    oklch(0.73 0.0968 180.73);
    --color-flexoki-cyan-400:    oklch(0.67 0.0999 186.58);
    --color-flexoki-cyan-500:    oklch(0.61 0.0932 186.66);
    --color-flexoki-cyan-600:    oklch(0.55 0.0863 186.74);
    --color-flexoki-cyan-700:    oklch(0.48 0.075 187.62);
    --color-flexoki-cyan-800:    oklch(0.39 0.0584 186.75);
    --color-flexoki-cyan-850:    oklch(0.34 0.0472 188.78);
    --color-flexoki-cyan-900:    oklch(0.28 0.0354 186.45);
    --color-flexoki-cyan-950:    oklch(0.23 0.021 185.21);
    --color-flexoki-blue-50:     oklch(0.93 0.0118 190.43);
    --color-flexoki-blue-100:    oklch(0.88 0.0289 228.09);
    --color-flexoki-blue-150:    oklch(0.83 0.0466 231.04);
    --color-flexoki-blue-200:    oklch(0.78 0.0622 235.93);
    --color-flexoki-blue-300:    oklch(0.68 0.0849 239.8);
    --color-flexoki-blue-400:    oklch(0.6 0.1104 247);
    --color-flexoki-blue-500:    oklch(0.54 0.1212 251.4);
    --color-flexoki-blue-600:    oklch(0.48 0.1315 254.79);
    --color-flexoki-blue-700:    oklch(0.43 0.1152 254.58);
    --color-flexoki-blue-800:    oklch(0.35 0.0862 254.23);
    --color-flexoki-blue-850:    oklch(0.31 0.0693 253.5);
    --color-flexoki-blue-900:    oklch(0.26 0.0486 253.24);
    --color-flexoki-blue-950:    oklch(0.21 0.0247 249.05);
    --color-flexoki-purple-50:   oklch(0.94 0.007 354.8);
    --color-flexoki-purple-100:  oklch(0.9 0.0236 310.69);
    --color-flexoki-purple-150:  oklch(0.85 0.0395 300.22);
    --color-flexoki-purple-200:  oklch(0.81 0.0555 298.05);
    --color-flexoki-purple-300:  oklch(0.71 0.0802 295.14);
    --color-flexoki-purple-400:  oklch(0.63 0.1098 291);
    --color-flexoki-purple-500:  oklch(0.54 0.1326 292.54);
    --color-flexoki-purple-600:  oklch(0.45 0.1451 294.83);
    --color-flexoki-purple-700:  oklch(0.4 0.1271 294.63);
    --color-flexoki-purple-800:  oklch(0.34 0.0955 295.65);
    --color-flexoki-purple-850:  oklch(0.3 0.0764 296.46);
    --color-flexoki-purple-900:  oklch(0.25 0.0544 298.34);
    --color-flexoki-purple-950:  oklch(0.21 0.0259 298.28);
    --color-flexoki-magenta-50:  oklch(0.94 0.0286 15.01);
    --color-flexoki-magenta-100: oklch(0.9 0.0525 1.83);
    --color-flexoki-magenta-150: oklch(0.85 0.0787 356.49);
    --color-flexoki-magenta-200: oklch(0.81 0.1012 355.47);
    --color-flexoki-magenta-300: oklch(0.72 0.1356 354.63);
    --color-flexoki-magenta-400: oklch(0.63 0.1565 350.47);
    --color-flexoki-magenta-500: oklch(0.56 0.1612 349.8);
    --color-flexoki-magenta-600: oklch(0.5 0.1614 349.76);
    --color-flexoki-magenta-700: oklch(0.44 0.1407 349.42);
    --color-flexoki-magenta-800: oklch(0.36 0.1089 349.03);
    --color-flexoki-magenta-850: oklch(0.31 0.087 347.6);
    --color-flexoki-magenta-900: oklch(0.26 0.0611 345.81);
    --color-flexoki-magenta-950: oklch(0.21 0.0328 344.07);
}

/* Define some semantic aliases. */
@theme inline {
    --color-flexoki-light-bg:    var(--color-flexoki-paper);
    --color-flexoki-light-bg-2:  var(--color-flexoki-base-50);
    --color-flexoki-light-tx:    var(--color-flexoki-black);
    --color-flexoki-light-tx-2:  var(--color-flexoki-base-600);
    --color-flexoki-light-tx-3:  var(--color-flexoki-base-300);
    --color-flexoki-light-ui:    var(--color-flexoki-base-100);
    --color-flexoki-light-ui-2:  var(--color-flexoki-base-150);
    --color-flexoki-light-ui-3:  var(--color-flexoki-base-200);
    --color-flexoki-dark-bg:     var(--color-flexoki-black);
    --color-flexoki-dark-bg-2:   var(--color-flexoki-base-950);
    --color-flexoki-dark-tx:     var(--color-flexoki-base-200);
    --color-flexoki-dark-tx-2:   var(--color-flexoki-base-500);
    --color-flexoki-dark-tx-3:   var(--color-flexoki-base-700);
    --color-flexoki-dark-ui:     var(--color-flexoki-base-900);
    --color-flexoki-dark-ui-2:   var(--color-flexoki-base-850);
    --color-flexoki-dark-ui-3:   var(--color-flexoki-base-800);
    --color-flexoki-light-re:    var(--color-flexoki-red-400);
    --color-flexoki-light-or:    var(--color-flexoki-orange-400);
    --color-flexoki-light-ye:    var(--color-flexoki-yellow-400);
    --color-flexoki-light-gr:    var(--color-flexoki-green-400);
    --color-flexoki-light-cy:    var(--color-flexoki-cyan-400);
    --color-flexoki-light-bl:    var(--color-flexoki-blue-400);
    --color-flexoki-light-pu:    var(--color-flexoki-purple-400);
    --color-flexoki-light-ma:    var(--color-flexoki-magenta-400);
    --color-flexoki-dark-re:     var(--color-flexoki-red-300);
    --color-flexoki-dark-or:     var(--color-flexoki-orange-300);
    --color-flexoki-dark-ye:     var(--color-flexoki-yellow-300);
    --color-flexoki-dark-gr:     var(--color-flexoki-green-300);
    --color-flexoki-dark-cy:     var(--color-flexoki-cyan-300);
    --color-flexoki-dark-bl:     var(--color-flexoki-blue-300);
    --color-flexoki-dark-pu:     var(--color-flexoki-purple-300);
    --color-flexoki-dark-ma:     var(--color-flexoki-magenta-300);
    --color-flexoki-light-re-2:  var(--color-flexoki-red-400);
    --color-flexoki-light-or-2:  var(--color-flexoki-orange-400);
    --color-flexoki-light-ye-2:  var(--color-flexoki-yellow-400);
    --color-flexoki-light-gr-2:  var(--color-flexoki-green-400);
    --color-flexoki-light-cy-2:  var(--color-flexoki-cyan-400);
    --color-flexoki-light-bl-2:  var(--color-flexoki-blue-400);
    --color-flexoki-light-pu-2:  var(--color-flexoki-purple-400);
    --color-flexoki-light-ma-2:  var(--color-flexoki-magenta-400);
    --color-flexoki-dark-re-2:   var(--color-flexoki-red-600);
    --color-flexoki-dark-or-2:   var(--color-flexoki-orange-600);
    --color-flexoki-dark-ye-2:   var(--color-flexoki-yellow-600);
    --color-flexoki-dark-gr-2:   var(--color-flexoki-green-600);
    --color-flexoki-dark-cy-2:   var(--color-flexoki-cyan-600);
    --color-flexoki-dark-bl-2:   var(--color-flexoki-blue-600);
    --color-flexoki-dark-pu-2:   var(--color-flexoki-purple-600);
    --color-flexoki-dark-ma-2:   var(--color-flexoki-magenta-600);
}