@import url('https://fonts.cdnfonts.com/css/segoe-ui-variable-static-display');
@import 'tailwindcss';
@import '@nuxt/ui';
@import './flexoki.css';
@config "~~/tailwind.config.ts";

@theme static {
    --font-editor: "Segoe UI Variable Static Display", 'Inter', 'Noto Sans Simplified Chinese', 'Geist', 'Outfit', 'Times New Roman'; /* The interface font */
    --font-code: 'JetBrains Mono', 'Consolas'; /* The code font */
    --font-prose: "Segoe UI Variable Static Display", 'Geist', var(--font-sans), sans-serif; /* The prose font. */

    --font-sans: var(--font-editor, sans-serif), serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;

    --font-mono: var(--font-code, monospace);
}

:root, .light {
    /* Least prominent text */
    --ui-text-dimmed: var(--color-flexoki-light-tx-3);
    /* Slightly muted text */
    --ui-text-muted: var(--color-flexoki-base-500);
    /* Moderately prominent text */
    --ui-text-toned: var(--color-flexoki-light-tx-2);
    /* Default text color */
    --ui-text: var(--color-flexoki-base-800);
    /* Most prominent text */
    --ui-text-highlighted: var(--color-flexoki-light-tx);

    /* Main background color */
    --ui-bg: var(--color-flexoki-light-bg);
    /* Subtle background */
    --ui-bg-muted: var(--color-flexoki-light-bg-2);
    /* Slightly elevated background */
    --ui-bg-elevated: var(--color-flexoki-light-ui);
    /* More prominent background */
    --ui-bg-accented: var(--color-flexoki-light-ui-3);
    /* Inverted background color */
    --ui-bg-inverted: var(--color-flexoki-dark-bg);

    /* Default border color */
    --ui-border: var(--color-flexoki-light-ui-3);
    /* Subtle border */
    --ui-border-muted: var(--color-flexoki-light-ui-2);
    /* More prominent border */
    --ui-border-accented: var(--color-flexoki-light-tx-3);
    /* Inverted border color */
    --ui-border-inverted: var(--color-flexoki-light-tx);
}

.dark {
    /* Least prominent text */
    --ui-text-dimmed: var(--color-flexoki-dark-tx-3);
    /* Slightly muted text */
    --ui-text-muted: var(--color-flexoki-dark-tx-2);
    /* Moderately prominent text */
    --ui-text-toned: var(--color-flexoki-base-300);
    /* Default text color */
    --ui-text: var(--color-flexoki-dark-tx);
    /* Most prominent text */
    --ui-text-highlighted: var(--color-flexoki-paper);

    /* Main background color */
    --ui-bg: var(--color-flexoki-dark-bg);
    /* Subtle background */
    --ui-bg-muted: var(--color-flexoki-dark-bg-2);
    /* Slightly elevated background */
    --ui-bg-elevated: var(--color-flexoki-dark-ui);
    /* More prominent background */
    --ui-bg-accented: var(--color-flexoki-dark-ui-3);
    /* Inverted background color */
    --ui-bg-inverted: var(--color-flexoki-light-bg);

    /* Default border color */
    --ui-border: var(--color-flexoki-dark-ui);
    /* Subtle border */
    --ui-border-muted: var(--color-flexoki-dark-ui-2);
    /* More prominent border */
    --ui-border-accented: var(--color-flexoki-dark-ui-3);
    /* Inverted border color */
    --ui-border-inverted: var(--color-flexoki-dark-tx);
}

:root, .light {
    /* Using black for primary in light mode as per guide */
    --ui-primary: var(--color-flexoki-light-tx);
    --ui-secondary: var(--color-flexoki-light-pu);
    --ui-success: var(--color-flexoki-light-gr);
    --ui-info: var(--color-flexoki-light-cy);
    --ui-warning: var(--color-flexoki-light-ye);
    --ui-error: var(--color-flexoki-light-re);

    --color-white: var(--color-flexoki-paper);
}

.dark {
    /* Using paper for primary in dark mode as per guide */
    --ui-primary: var(--color-flexoki-light-bg);
    --ui-secondary: var(--color-flexoki-dark-pu);
    --ui-success: var(--color-flexoki-dark-gr);
    --ui-info: var(--color-flexoki-dark-cy);
    --ui-warning: var(--color-flexoki-dark-ye);
    --ui-error: var(--color-flexoki-dark-re);

    --color-white: var(--color-flexoki-paper);
}

:root, .light {
    --prose-body: var(--color-zinc-800);
    --prose-bold: var(--color-zinc-900);
    --prose-bullets: var(--color-zinc-900);
    --prose-captions: var(--color-zinc-700);
    --prose-code: var(--color-zinc-600);
    --prose-links: var(--color-zinc-700);
    --prose-headings: var(--color-zinc-950);
    --prose-quotes: var(--color-zinc-600);
    --prose-quote-borders: var(--color-zinc-600);
}

.dark {
    --prose-body: var(--color-zinc-200);
    --prose-bold: var(--color-zinc-100);
    --prose-bullets: var(--color-zinc-200);
    --prose-captions: var(--color-zinc-300);
    --prose-code: var(--color-zinc-400);
    --prose-links: var(--color-zinc-300);
    --prose-headings: var(--color-zinc-50);
    --prose-quotes: var(--color-zinc-400);
    --prose-quote-borders: var(--color-zinc-400);
}

@plugin "@tailwindcss/typography";

@utility custom-prose {
    h1 {
        @apply scroll-m-20 text-3xl font-extrabold tracking-tight lg:text-4xl text-(--prose-headings) ;
    }
    h2 {
        @apply scroll-m-20 border-b border-(--ui-border) pb-2 text-2xl font-semibold tracking-tight transition-colors first:mt-0 text-(--prose-headings);
    }
    h3 {
        @apply scroll-m-20 text-xl font-semibold tracking-tight text-(--prose-headings);
    }
    h4 {
        @apply scroll-m-20 text-lg font-semibold tracking-tight text-(--prose-headings);
    }
    p {
        @apply leading-7 [&:not(:first-child)]:mt-3 text-sm text-(--prose-body);
    }
    strong {
        @apply font-bold text-(--prose-bold);
    }
    em {
        @apply text-(--prose-captions)
    }
    blockquote {
        @apply mt-3 border-l-6 rounded-sm border-(--prose-quote-borders) pl-6 text-sm text-(--prose-quotes) bg-(--ui-bg-muted) py-3;
        * {
            @apply text-(--prose-quotes);
        }
    }
    table {
        @apply w-full text-sm my-2;
    }
    tr {
        @apply m-0 border-t border-(--ui-border-muted) p-0 even:bg-(--ui-bg-muted) text-sm;
    }
    th {
        @apply border border-(--ui-border-muted) px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right text-sm;
    }
    td {
        @apply border border-(--ui-border-muted) px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right text-sm;
    }
    ul {
        @apply my-6 ml-6 list-disc [&>li]:mt-2 text-sm text-(--prose-bullets);
    }
    pre {
        @apply bg-(--ui-bg-inverted) rounded-lg font-mono -z-20 p-4 mt-3;
        code {
            @apply rounded px-0 py-0 mx-0 my-0 font-mono dark:text-(--ui-text-dimmed) bg-transparent text-xs font-semibold z-10;
        }
    }
    code {
        @apply relative rounded bg-(--ui-bg-muted) text-(--prose-code) px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold -z-10;
    }
    small {
        @apply text-sm font-medium leading-none text-(--prose-body)/70;
    }
    /*.info {*/
    /*    @apply p-4 bg-(--ui-info)/50 border border-(--ui-info)*/
    /*}*/
    /*.warning {*/
    /*    @apply p-4 bg-(--ui-warning)/50 border border-(--ui-warning)*/
    /*}*/
    /*.error {*/
    /*    @apply p-4 bg-(--ui-error)/50 border border-(--ui-error)*/
    /*}*/
}
